@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

.connectText {
  font-family: Rubik, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
